/* line 5, ../../../../../Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 12, ../sass/base.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 17, ../sass/base.scss */
html {
  font-family: 'Noto Sans Japanese', sans-serif;
  font-size: 16px;
}

/* line 21, ../sass/base.scss */
body {
  margin: 0 auto;
  max-width: 2560px;
  width: 100%;
}
/* line 25, ../sass/base.scss */
body * {
  font-weight: 200;
}

/* line 29, ../sass/base.scss */
.articlewrap {
  margin: 0 auto;
  width: 960px;
}

/* line 33, ../sass/base.scss */
.entry-title {
  margin: 0;
  font-size: 2rem;
  padding-top: 30px;
}

/* line 38, ../sass/base.scss */
.ct-name {
  border-bottom: 1px solid #111;
  display: block;
  font-size: 2rem;
  padding-bottom: 10px;
  width: 95%;
  margin: 50px auto 0;
}

/* line 46, ../sass/base.scss */
.corp-table {
  width: 95%;
  border-style: none;
  margin: 0 auto 30px;
}

/* line 51, ../sass/base.scss */
.ct-body {
  width: 100%;
}
/* line 53, ../sass/base.scss */
.ct-body tr {
  height: 50px;
  width: 100%;
}
/* line 56, ../sass/base.scss */
.ct-body tr th {
  font-size: 1.2rem;
  line-height: 100%;
  width: 30%;
  padding: 10px;
}
/* line 62, ../sass/base.scss */
.ct-body tr td {
  font-size: 1.2rem;
  line-height: 100%;
  width: 70%;
  padding: 10px;
}

/* line 70, ../sass/base.scss */
.officers-profile {
  margin-top: 30px;
  width: 100%;
}
/* line 73, ../sass/base.scss */
.officers-profile .officers-list {
  width: 100%;
}
/* line 75, ../sass/base.scss */
.officers-profile .officers-list .o_list_element {
  border-bottom: 1px solid #ccc;
  height: 400px;
  width: 100%;
  margin-bottom: 30px;
}

/* line 83, ../sass/base.scss */
.officer-text {
  display: inline-block;
  width: 60%;
  height: 100%;
}
/* line 87, ../sass/base.scss */
.officer-text p {
  margin-top: 10px;
  line-height: 1.5;
}

/* line 92, ../sass/base.scss */
.officers_img {
  float: right;
  height: 100%;
  width: 30%;
}

/* line 97, ../sass/base.scss */
.officers_name {
  display: block;
  font-size: 2rem;
}

/* line 101, ../sass/base.scss */
.officers_subname {
  color: #777;
  display: block;
  font-size: 0.8rem;
}

/* line 106, ../sass/base.scss */
.officers_position {
  display: block;
  font-size: 1rem;
}

/* line 111, ../sass/base.scss */
.o_img_1 {
  background-image: url("../images/o_img_1.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto;
}

/* line 111, ../sass/base.scss */
.o_img_2 {
  background-image: url("../images/o_img_2.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto;
}

/* line 111, ../sass/base.scss */
.o_img_3 {
  background-image: url("../images/o_img_3.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto;
}

/* line 118, ../sass/base.scss */
.biz-list {
  width: 100%;
}
/* line 120, ../sass/base.scss */
.biz-list li {
  border-bottom: 1px solid #ccc;
  list-style: none;
}

/* line 125, ../sass/base.scss */
.biz-list li:nth-child(3n) {
  border-style: none;
}

/* line 128, ../sass/base.scss */
.biz-section {
  padding: 30px 0;
}
/* line 130, ../sass/base.scss */
.biz-section .heading-title {
  font-size: 2rem;
  font-weight: 100;
  margin-top: 30px;
}
/* line 135, ../sass/base.scss */
.biz-section .title-detail {
  font-size: 1.5rem;
  font-weight: 100;
  margin: 20px 0;
}
/* line 140, ../sass/base.scss */
.biz-section p {
  line-height: 1.5;
}

/* line 145, ../sass/base.scss */
.biz-section .bs-img-1 {
  margin-top: 30px;
  height: 300px;
  width: 100%;
  background-image: url("../images/bs-img-1.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto;
}

/* line 145, ../sass/base.scss */
.biz-section .bs-img-2 {
  margin-top: 30px;
  height: 300px;
  width: 100%;
  background-image: url("../images/bs-img-2.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto;
}

/* line 145, ../sass/base.scss */
.biz-section .bs-img-3 {
  margin-top: 30px;
  height: 300px;
  width: 100%;
  background-image: url("../images/bs-img-3.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto;
}

/* line 155, ../sass/base.scss */
.three-col-list {
  width: 100%;
  list-style: none;
  overflow: hidden;
  *zoom: 1;
}
/* line 159, ../sass/base.scss */
.three-col-list h3 {
  font-size: 2rem;
  text-align: center;
}
/* line 163, ../sass/base.scss */
.three-col-list td {
  text-align: center;
}
/* line 166, ../sass/base.scss */
.three-col-list .career-col {
  width: 308px;
  margin: 20px auto;
}
/* line 169, ../sass/base.scss */
.three-col-list .career-col .career-col-text {
  margin-top: 10px;
  line-height: 1.5;
  font-weight: 200;
  text-align: justify;
  color: #666;
}
/* line 175, ../sass/base.scss */
.three-col-list .career-col .career-col-text span {
  font-weight: 500;
  color: #333;
}

/* line 182, ../sass/base.scss */
.three-col-list li:nth-child(3n) {
  margin-right: 0;
}

/* line 187, ../sass/base.scss */
.career_col_left {
  background-image: url("../images/career_col_left.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto;
}

/* line 187, ../sass/base.scss */
.career_col_center {
  background-image: url("../images/career_col_center.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto;
}

/* line 187, ../sass/base.scss */
.career_col_right {
  background-image: url("../images/career_col_right.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto;
}

/* line 194, ../sass/base.scss */
.access {
  padding: 30px 0;
}
/* line 196, ../sass/base.scss */
.access .heading-title {
  font-size: 2rem;
  font-weight: 100;
  margin-top: 30px;
}
/* line 201, ../sass/base.scss */
.access iframe {
  margin: 20px auto;
}

/* line 205, ../sass/base.scss */
.contact-text {
  text-align: center;
  margin: 30px auto 15px;
  font-size: 2rem;
  font-weight: 200;
}

/* line 211, ../sass/base.scss */
.contact-form {
  margin: 30px auto;
  border: 1px solid #ccc;
  border-collapse: collapse;
  width: 100%;
  max-width: 750px;
}
/* line 219, ../sass/base.scss */
.contact-form tbody tr th {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: rgba(141, 128, 187, 0.3);
  font-weight: normal;
  text-align: left;
  vertical-align: top;
  padding: 1rem;
  white-space: nowrap;
}
/* line 229, ../sass/base.scss */
.contact-form tbody tr td {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: rgba(159, 159, 159, 0.1);
}
/* line 234, ../sass/base.scss */
.contact-form tbody tr .length-m {
  width: 50%;
}
/* line 237, ../sass/base.scss */
.contact-form tbody tr .length-l {
  width: 98%;
}
/* line 241, ../sass/base.scss */
.contact-form tbody .require {
  font-size: 0.8rem;
  color: red;
  padding-left: 0.5rem;
}
/* line 246, ../sass/base.scss */
.contact-form tbody textarea {
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* line 252, ../sass/base.scss */
form {
  text-align: center;
}
/* line 254, ../sass/base.scss */
form .wpcf7-submit {
  padding: 10px;
}

/* line 258, ../sass/base.scss */
.entry-content {
  margin-bottom: 30px;
}

@media screen and (max-width: 1024px) {
  /* line 262, ../sass/base.scss */
  html {
    font-size: 12px;
  }

  /* line 265, ../sass/base.scss */
  .entry-header {
    padding: 30px 15px;
  }

  /* line 268, ../sass/base.scss */
  .officers-profile .officers-list .o_list_element {
    height: 200px;
  }
  /* line 271, ../sass/base.scss */
  .officers-profile .officers-list .o_list_element .o_img_1 {
    background-image: url("../images/o_img_1_mobile.png");
  }
  /* line 271, ../sass/base.scss */
  .officers-profile .officers-list .o_list_element .o_img_2 {
    background-image: url("../images/o_img_2_mobile.png");
  }

  /* line 276, ../sass/base.scss */
  three-col-list .career-col {
    width: 100%;
  }
  /* line 278, ../sass/base.scss */
  three-col-list .career-col .career-col-text {
    width: 70%;
    margin: 10px auto;
  }

  /* line 283, ../sass/base.scss */
  .access {
    text-align: center;
  }

  /* line 289, ../sass/base.scss */
  .biz-section .bs-img-1 {
    background-image: url("../images/bs-img-1-tab.png");
    height: 300px;
    width: 100%;
  }
  /* line 289, ../sass/base.scss */
  .biz-section .bs-img-2 {
    background-image: url("../images/bs-img-2-tab.png");
    height: 300px;
    width: 100%;
  }
  /* line 289, ../sass/base.scss */
  .biz-section .bs-img-3 {
    background-image: url("../images/bs-img-3-tab.png");
    height: 300px;
    width: 100%;
  }

  /* line 296, ../sass/base.scss */
  .entry-content {
    width: 95%;
    margin: 0 auto 30px;
  }
}
@media screen and (max-width: 768px) {
  /* line 302, ../sass/base.scss */
  .articlewrap {
    width: 95%;
    margin: 0 auto;
  }
  /* line 305, ../sass/base.scss */
  .articlewrap .entry-content {
    margin: 0 auto 30px;
  }
}
@media screen and (max-width: 414px) {
  /* line 312, ../sass/base.scss */
  .access .heading-title {
    text-align: justify;
  }

  /* line 316, ../sass/base.scss */
  .contact-text {
    font-size: 1rem;
    margin: auto;
    padding: 30px 0 0;
  }

  /* line 322, ../sass/base.scss */
  .contact-form .wpcf7-form-control-wrap {
    max-width: 200px;
  }
  /* line 325, ../sass/base.scss */
  .contact-form .text {
    max-width: 200px;
  }

  /* line 329, ../sass/base.scss */
  .officers-profile .officers-list .o_list_element {
    height: auto;
  }
  /* line 331, ../sass/base.scss */
  .officers-profile .officers-list .o_list_element .officer-text {
    width: 100%;
  }
  /* line 334, ../sass/base.scss */
  .officers-profile .officers-list .o_list_element .officers_img {
    width: 100%;
    height: 190px;
    float: none;
  }

  /* line 341, ../sass/base.scss */
  .ct-body tr th {
    font-size: 1rem;
  }
  /* line 344, ../sass/base.scss */
  .ct-body tr td {
    font-size: 1rem;
  }

  /* line 350, ../sass/base.scss */
  .biz-section .bs-img-1 {
    background-image: url("../images/bs-img-1-mobile.png");
    height: 200px;
    max-width: 300px;
    width: 100%;
  }
  /* line 350, ../sass/base.scss */
  .biz-section .bs-img-2 {
    background-image: url("../images/bs-img-2-mobile.png");
    height: 200px;
    max-width: 300px;
    width: 100%;
  }
  /* line 350, ../sass/base.scss */
  .biz-section .bs-img-3 {
    background-image: url("../images/bs-img-3-mobile.png");
    height: 200px;
    max-width: 300px;
    width: 100%;
  }

  /* line 360, ../sass/base.scss */
  .entry-content .three-col-list td {
    display: block;
  }
  /* line 363, ../sass/base.scss */
  .entry-content .three-col-list .career-col {
    width: 100%;
  }

  /* line 368, ../sass/base.scss */
  .text {
    width: 100%;
  }
}
