html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans Japanese', sans-serif;
  font-size: 16px;
}

body {
  margin: 0 auto;
  max-width: 2560px;
  width: 100%;
  font-weight: 300;
  background-color: #f3f3f3;
}

h1 {
  font-size: 3rem;
  color: #fff;
}

p {
  line-height: 1.5;
}

.articlewrap {
  margin: 0 auto;
  width: 960px;
}

.entry-title {
  margin: 0;
  font-size: 2rem;
  padding-top: 30px;
  color: #111;
}

.ct-name {
  border-bottom: 1px solid #111;
  display: block;
  font-size: 2rem;
  padding-bottom: 10px;
  width: 95%;
  margin: 50px auto 0;
}

.corp-table {
  width: 95%;
  border-style: none;
  margin: 0 auto 30px;
}

.ct-body {
  width: 100%;
}
.ct-body tr {
  height: 50px;
  width: 100%;
}
.ct-body tr th {
  font-size: 1.2rem;
  line-height: 100%;
  width: 30%;
  padding: 10px;
}
.ct-body tr td {
  font-size: 1.2rem;
  line-height: 100%;
  width: 70%;
  padding: 10px;
}

.officers-profile {
  margin-top: 30px;
  width: 100%;
}
.officers-profile .officers-list {
  width: 100%;
}
.officers-profile .officers-list .o_list_element {
  border-bottom: 1px solid #ccc;
  height: 400px;
  width: 100%;
  margin-bottom: 30px;
}

.officer-text {
  display: inline-block;
  width: 60%;
  height: 100%;
}
.officer-text p {
  margin-top: 10px;
  line-height: 1.5;
}

.officers_img {
  float: right;
  height: 100%;
  width: 30%;
}

.officers_name {
  display: block;
  font-size: 2rem;
}

.officers_subname {
  color: #777;
  display: block;
  font-size: 0.8rem;
}

.officers_position {
  display: block;
  font-size: 1rem;
}

.o_img_1 {
  background-image: url("../images/o_img_1.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto;
}

.o_img_2 {
  background-image: url("../images/o_img_2.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto;
}

.o_img_3 {
  background-image: url("../images/o_img_3.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto;
}

.biz-list {
  width: 100%;
}
.biz-list li {
  list-style: none;
}

.biz-list li:nth-child(3n) {
  border-style: none;
}

.biz-section {
  padding: 30px 0;
}

.heading-title {
  font-size: 2rem;
  margin-top: 30px;
  padding-left: 3rem;
  position: relative;
  font-weight: 400;
  margin-bottom: 30px;
}
.heading-title::after {
  border: 5px solid #9184C1;
  width: 20px;
  height: 20px;
  content: "";
  position: absolute;
  left: 0;
  top: -5px;
}
.heading-title::before {
  content: "";
  position: absolute;
  border: 5px solid #9E9E9F;
  width: 20px;
  height: 20px;
  top: 5px;
  left: 10px;
}
.heading-title .title-detail {
  font-size: 1.5rem;
  font-weight: 100;
  margin: 20px 0;
}
.heading-title p {
  line-height: 1.5;
}

.biz-section .bs-img-1 {
  margin-top: 30px;
  height: 300px;
  width: 100%;
  background-image: url("../images/bs-img-1.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto;
}

.biz-section .bs-img-2 {
  margin-top: 30px;
  height: 300px;
  width: 100%;
  background-image: url("../images/bs-img-2.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto;
}

.biz-section .bs-img-3 {
  margin-top: 30px;
  height: 300px;
  width: 100%;
  background-image: url("../images/bs-img-3.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto;
}

.three-col-list {
  width: 100%;
  list-style: none;
  overflow: hidden;
  *zoom: 1;
}
.three-col-list h3 {
  font-size: 2rem;
  text-align: center;
}
.three-col-list td {
  text-align: center;
}
.three-col-list .career-col {
  width: 308px;
  margin: 20px auto;
}
.three-col-list .career-col .career-col-text {
  margin-top: 10px;
  line-height: 1.5;
  font-weight: 200;
  text-align: justify;
  color: #666;
}
.three-col-list .career-col .career-col-text span {
  font-weight: 500;
  color: #333;
}

.three-col-list li:nth-child(3n) {
  margin-right: 0;
}

.career_col_left {
  background-image: url("../images/career_col_left.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto;
}

.career_col_center {
  background-image: url("../images/career_col_center.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto;
}

.career_col_right {
  background-image: url("../images/career_col_right.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto;
}

.access {
  padding: 30px 0;
}
.access .heading-title {
  font-size: 2rem;
  margin-top: 30px;
}
.access iframe {
  margin: 20px auto;
}

.contact-text {
  text-align: center;
  margin: 30px auto 15px;
  font-size: 2rem;
  font-weight: 200;
}

.contact-form {
  margin: 30px auto;
  border: 1px solid #ccc;
  border-collapse: collapse;
  width: 100%;
  max-width: 750px;
}
.contact-form tbody tr th {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: rgba(141, 128, 187, 0.3);
  font-weight: normal;
  text-align: left;
  vertical-align: top;
  padding: 1rem;
  white-space: nowrap;
}
.contact-form tbody tr td {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: rgba(159, 159, 159, 0.1);
}
.contact-form tbody tr .length-m {
  width: 50%;
}
.contact-form tbody tr .length-l {
  width: 98%;
}
.contact-form tbody .require {
  font-size: 0.8rem;
  color: red;
  padding-left: 0.5rem;
}
.contact-form tbody textarea {
  border: 1px solid #ccc;
  border-radius: 3px;
}

form {
  text-align: center;
}
form .wpcf7-submit {
  padding: 10px;
}

.entry-content {
  margin-bottom: 30px;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 12px;
  }

  .entry-header {
    padding: 30px 15px;
  }

  .officers-profile .officers-list .o_list_element {
    height: 200px;
  }
  .officers-profile .officers-list .o_list_element .o_img_1 {
    background-image: url("../images/o_img_1_mobile.png");
  }
  .officers-profile .officers-list .o_list_element .o_img_2 {
    background-image: url("../images/o_img_2_mobile.png");
  }

  three-col-list .career-col {
    width: 100%;
  }
  three-col-list .career-col .career-col-text {
    width: 70%;
    margin: 10px auto;
  }

  .access {
    text-align: center;
  }
  .access .heading-title {
    text-align: left;
  }

  .heading-title {
    padding-left: 4rem;
  }

  .biz-section .bs-img-1 {
    background-image: url("../images/bs-img-1-tab.png");
    height: 300px;
    width: 100%;
    margin: auto;
  }
  .biz-section .bs-img-2 {
    background-image: url("../images/bs-img-2-tab.png");
    height: 300px;
    width: 100%;
    margin: auto;
  }
  .biz-section .bs-img-3 {
    background-image: url("../images/bs-img-3-tab.png");
    height: 300px;
    width: 100%;
    margin: auto;
  }

  .entry-content {
    width: 95%;
    margin: 0 auto 30px;
  }
}
@media screen and (max-width: 768px) {
  .articlewrap {
    width: 95%;
    margin: 0 auto;
  }
  .articlewrap .entry-content {
    margin: 0 auto 30px;
  }
}
@media screen and (max-width: 414px) {
  .access .heading-title {
    text-align: justify;
  }

  .contact-text {
    font-size: 1rem;
    margin: auto;
    padding: 30px 0 0;
  }

  .contact-form .wpcf7-form-control-wrap {
    max-width: 200px;
  }
  .contact-form .text {
    max-width: 200px;
  }

  .officers-profile .officers-list .o_list_element {
    height: auto;
  }
  .officers-profile .officers-list .o_list_element .officer-text {
    width: 100%;
  }
  .officers-profile .officers-list .o_list_element .officers_img {
    width: 100%;
    height: 190px;
    float: none;
  }

  .ct-body tr th {
    font-size: 1rem;
  }
  .ct-body tr td {
    font-size: 1rem;
  }

  .biz-section .bs-img-1 {
    background-image: url("../images/bs-img-1-mobile.png");
    height: 200px;
    max-width: 300px;
    width: 100%;
  }
  .biz-section .bs-img-2 {
    background-image: url("../images/bs-img-2-mobile.png");
    height: 200px;
    max-width: 300px;
    width: 100%;
  }
  .biz-section .bs-img-3 {
    background-image: url("../images/bs-img-3-mobile.png");
    height: 200px;
    max-width: 300px;
    width: 100%;
  }

  .entry-content .three-col-list td {
    display: block;
  }
  .entry-content .three-col-list .career-col {
    width: 100%;
  }

  .text {
    width: 100%;
  }
}
