* {
  box-sizing: border-box;
}

.innertopbar {
  height: 86px;
  margin: 0 auto;
  width: 960px;
}

.companyname {
  float: left;
  height: 86px;
  width: 160px;
  line-height: 86px;
}
.companyname a {
  display: block;
  height: 100%;
}
.companyname a img {
  padding: 10px 0;
}
.companyname a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.keyvisual, .corpinfokv,
.businesskv,
.careerkv,
.accesskv,
.contactkv {
  background-image: url("../images/keyvisual-bg.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto 100%;
  clear: both;
  height: 300px;
  margin-top: 86px;
  max-width: 2560px;
  width: 100%;
}

.kv-text {
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
  display: table;
  text-align: center;
}

.kv-text-cell {
  display: table-cell;
  vertical-align: middle;
}
.kv-text-cell p {
  text-align: center;
  color: #fff;
  margin-top: 2rem;
  font-size: 2rem;
}
.kv-text-cell p .onesegray {
  color: #9E9E9F;
  text-shadow: 1px 1px #fff, 1px -1px #fff, -1px 1px #fff, -1px -1px #fff;
}
.kv-text-cell p .onesepurple {
  color: #8D80BB;
  text-shadow: 1px 1px #fff, 1px -1px #fff, -1px 1px #fff, -1px -1px #fff;
}

.corpinfokv {
  background-image: url("../images/corpinfokv-bg.jpg");
}

.businesskv {
  background-image: url("../images/businesskv-bg.jpg");
}

.careerkv {
  background-image: url("../images/careerkv-bg.jpg");
}

.accesskv {
  background-image: url("../images/accesskv-bg.jpg");
}

.contactkv {
  background-image: url("../images/contactkv-bg.jpg");
}

.brankkv {
  height: 0;
  margin-top: 86px;
  width: 0;
}

.innerkvtable {
  display: table;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  height: 300px;
}
.innerkvtable .innerkv {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}
.innerkvtable .innerkv h1 {
  font-size: 2rem;
}

.main-content-area {
  width: 960px;
  margin: 0 auto;
}
.main-content-area h1,
.main-content-area h3 {
  font-size: 2rem;
  font-weight: 100;
  margin-top: 30px;
}
.main-content-area .topic-title {
  margin-bottom: 20px;
  font-weight: 200;
}
.main-content-area p {
  line-height: 1.5;
}

.greeting {
  max-width: 40rem;
  display: inline-block;
}
.greeting h3 {
  margin-bottom: 30px;
  margin-top: 0;
}

.greeting-img {
  display: inline-block;
  width: 30%;
  vertical-align: bottom;
  border: 1px solid #ccc;
  margin-left: 25px;
  height: 280px;
}

.three-col-list {
  width: 100%;
  list-style: none;
}
.three-col-list:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.three-col-list .bx-img {
  float: left;
  width: 308px;
  margin: 0 18px 40px 0;
}
.three-col-list .bx-img a {
  text-decoration: none;
}
.three-col-list .bx-img .bx-img-text {
  margin-top: 10px;
  line-height: 1.5;
  font-weight: 400;
  color: #666;
  font-size: 1rem;
}

.three-col-list li:nth-child(3n) {
  margin-right: 0;
}

.three_col_img {
  width: 100%;
  height: 176px;
}

.three_col_left, .three_col_center, .three_col_right {
  background-image: url("../images/three-col-left.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto;
}

.three_col_center {
  background-image: url("../images/three-col-center.jpg");
}

.three_col_right {
  background-image: url("../images/three_col_right.png");
}

.headerspan {
  font-weight: 500;
  font-size: 1.2rem;
  color: #333;
}

.businesstag, .corpinfotag, .contacttag {
  display: inline-block;
  text-align: center;
  width: 80px;
  border-right: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  background-color: rgba(184, 73, 255, 0.9);
  vertical-align: top;
  color: #fff;
  text-decoration: none;
  font-size: 0.5rem;
  font-weight: 200;
  display: block;
  line-height: 100%;
  padding: 0.3rem 0.5rem;
}

.corpinfotag {
  background-color: rgba(10, 140, 247, 0.9);
}

.contacttag {
  background: rgba(0, 156, 34, 0.9);
}

.recruit-table {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  border: 1px solid #ccc;
}
.recruit-table th {
  padding: 10px;
  background-color: #d2d2d2;
  width: 30%;
  border-bottom: 1px solid #f2f2f2;
  line-height: 1.5;
}
.recruit-table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  line-height: 1.5;
}
.recruit-table td ul {
  padding-left: 30px;
}
.recruit-table td ul li {
  margin-top: 10px;
  list-style-type: disc;
}

@media screen and (max-width: 1024px) {
  .main-content-area {
    width: 95%;
  }
  .main-content-area td {
    padding: 20px 0;
  }
  .main-content-area td h3 {
    width: 100%;
    text-align: center;
    margin-top: 0;
    vertical-align: top;
  }
  .main-content-area td .bx-img {
    width: 100%;
  }
  .main-content-area td .bx-img .bx-img-text {
    width: 80%;
    margin: 0.5rem auto;
  }

  .greeting {
    width: 100%;
  }

  .greeting-img {
    display: none;
  }

  .add-margin {
    margin-top: 50px;
  }

  .keyvisual, .corpinfokv,
  .businesskv,
  .careerkv,
  .accesskv,
  .contactkv {
    background-image: url("../images/keyvisual-bg-tab.jpg");
  }

  .corpinfokv {
    background-image: url("../images/corpinfokv-bg-tab.jpg");
  }

  .businesskv {
    background-image: url("../images/businesskv-bg-tab.jpg");
  }

  .careerkv {
    background-image: url("../images/careerkv-bg-tab.jpg");
  }

  .accesskv {
    background-image: url("../images/accesskv-bg-tab.jpg");
  }

  .contactkv {
    background-image: url("../images/contactkv-bg-tab.jpg");
  }

  .innerkvtable {
    width: 95%;
  }
  .innerkvtable .innerkv {
    width: 100%;
  }
  .innerkvtable .innerkv h1 {
    width: 95%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 414px) {
  .main-content-area td {
    display: block;
  }
  .main-content-area td .bx-img .bx-img-text {
    width: 95%;
  }

  .add-margin {
    margin-top: 30px;
  }

  .entry-content .three-col-list {
    width: 100%;
  }

  .three-col-list .bx-img {
    float: none;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .three-col-list li:nth-child(3n) {
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .keyvisual, .corpinfokv,
  .businesskv,
  .careerkv,
  .accesskv,
  .contactkv {
    background-image: url("../images/keyvisual-bg-mobile.jpg");
    height: 200px;
  }

  .corpinfokv {
    background-image: url("../images/corpinfokv-bg-mobile.jpg");
    height: 200px;
  }

  .businesskv {
    background-image: url("../images/businesskv-bg-mobile.jpg");
    height: 200px;
  }

  .careerkv {
    background-image: url("../images/careerkv-bg-mobile.jpg");
    height: 200px;
  }

  .accesskv {
    background-image: url("../images/accesskv-bg-mobile.jpg");
    height: 200px;
  }

  .contactkv {
    background-image: url("../images/contactkv-bg-mobile.jpg");
    height: 200px;
  }

  .kv-text-cell {
    text-align: center;
  }

  .innerkvtable {
    height: 200px;
  }
}
